<br/>
<md-radio-group class="example-radio-group" [(ngModel)]="border" (change)="changeBorder(border)">
    <md-radio-button class="example-radio-button" value="true">Border</md-radio-button>
    <md-radio-button class="example-radio-button" value="false">No-Border</md-radio-button>
</md-radio-group>

<br/>

<br/>

<br/>

<svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
	<svg:g>
		<svg:rect id="svg_9" [attr.fill]="lowColor" stroke="#000" stroke-width="0" x="0" y="2.75" width="66" height="80"/>
		<svg:rect id="svg_10" [attr.fill]="midColor" stroke="#000" stroke-width="0" x="66" y="2.75" width="66" height="80"/>
		<svg:rect id="svg_11" [attr.fill]="highColor" stroke="#000" stroke-width="0" x="132" y="2.75" width="66" height="80"/>
		<svg:path id="svg_8" d="m0,93 210,-85 210,-85 -210,-0 -210,-0z" stroke-width="0" fill="#fff" stroke="#000" fill-rule="evenodd"/>
		<path id="svg_7" [attr.d]="pointerPath" stroke-width="0" stroke="#000" fill="blue"/>
		<svg:rect id="svg_1" height="94" width="294" y="3" x="3" rx="5" [attr.stroke-width]="strkWidth" stroke="#000" fill="none"/>
	</svg:g>
	<svg:g>	
		<svg:rect id="svg_2" height="94" width="90" y="3.25" x="207" rx="5" stroke-width="5" stroke="#000" [attr.fill]="textColor"/>
		<text stroke="#000" transform="matrix(1.1284624338150024,0,0,1.2051281929016113,-29.99597829580307,-3.4871792793273926) " xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="35" id="svg_6" y="56.46809" x="224.63838" stroke-width="0" fill="#000000">{{progress}}</text>
	</svg:g>
</svg>

<br/>

<br/>

<br/>

<button (click)="processWithinAngularZone()">Process within Angular zone</button>